<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">A venir</ion-title>
    </ion-toolbar>
  </ion-header>
  <main>
    <div class="stitch">
      <img src="assets/stitch.jpg">
    </div>

    <h1>Alexandrya est en cours de développement</h1>
    <ion-spinner name="crescent"></ion-spinner>
  </main>
</ion-content>
